@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  font-family: 'Poppins', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  border-radius: 0 0 30px 30px;
  position: relative;
}

.logo {
  width: 200px;
  margin-top: 8vh;
}

.question {
  text-align: center;
  font-size: 1.8rem;
  margin: 20px 20px 10px;
  font-weight: 500;
  line-height: 1.5;
}

.dots {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 80px;
}

.dot {
  width: 18px;
  height: 18px;
  background-color: #7cc0ff;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.dot:hover {
  background-color: #47a6f3;
  transform: scale(1.2);
}

.dot.active {
  background-color: #3399ff;
  box-shadow: 0 0 8px #3399ff;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-bottom: 60px;
  padding-bottom: 20px;
}


.btn {
  padding: 20px 32px;
  border: none;
  border-radius: 16px;
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 600;
  width: 240px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.03);
}

.yes {
  background-color: #f9b233;
  color: black;
}

.no {
  background-color: #29a6ff;
  color: white;
}

@media (max-width: 480px) {
  .btn {
    width: 140px;
    font-size: 1rem;
  }

  .question {
    font-size: 1.3rem;
  }

  .logo {
    margin-top: 8vh;
  }
}

@media (min-width: 600px) {
  .btn {
    width: 240px;
    font-size: 1.3rem;
  }

  .question {
    font-size: 1.9rem;
    margin-bottom: 0;
  }

  .logo {
    width: 240px;
    margin-top: 10vh;
  }

  .dots {
    margin-bottom: 70px;
  }

  .buttons {
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  body {
    max-width: 680px;
    margin: 0 auto;
    border-radius: 0;
  }

  .logo {
    width: 260px;
    margin-top: 12vh;
  }

  .btn {
    width: 260px;
    font-size: 1.4rem;
  }

  .question {
    font-size: 2rem;
  }

  .dot {
    width: 20px;
    height: 20px;
  }
}
