<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Locais</title>
  <link rel="stylesheet" href="/static/css/puzzle.css">
  <link rel="stylesheet" href="/static/css/locais.css">
</head>
<body>
  <h1>Locais</h1>

  <div class="filtros">
    <button>Hotel</button>
    <button class="ativo">Restaurante</button>
    <button>Praças</button>
    <button>Comércios</button>
    <button>Shoppings</button>
    <button>Cultural</button>
    <button>Populares</button>
  </div>

  {% for local in locais %}
    <a href="/menu/locais/{{ local.url }}" class="card-link">
    <div class="card">
    <img src="/static/assets/img/{{ local.imagem }}" alt="{{ local.nome }}">
    <div class="info">
      <div class="titulo">{{ local.nome }}</div>
      <div class="estrelas">{{ local.avaliacao }}</div>
      <div class="detalhes">{{ local.descricao | safe }}</div>
    </div>
    <div class="oferta">OFERTA %</div>
  </div>
</a>

  {% endfor %}

  


</body>
</html>
