{% extends 'base.html' %}

{% block title %}+20 Moedas{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tutorial.css') }}">
{% endblock %}

{% block content %}
  <div class="central-box">
    <h2 class="recompensa-titulo">+20 Moedas</h2>

    {% include 'componentes/moedas_empilhadas.html' %}

    <p class="recompensa-msg">Você ganhou moedas!</p>

    <div class="buttons">
      <button class="btn yes" data-href="/menu/home">Cool!</button>
      <button class="btn no" data-href="/store">
        <i class="fas fa-store"></i> Store
      </button>
    </div>
  </div>
{% endblock %}
