<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Égua do Guia - Tutorial</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tutorial.css') }}">
</head>
<body>

  <img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="Logo" class="logo">

  <div class="question">
    <p>Do you already know the<br><strong>Égua do Guia?</strong></p>
  </div>

  <div class="dots">
    <div class="dot active"></div>  <!-- ATIVO -->
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
  

  <div class="buttons">
    <button class="btn yes">Yes I know</button>
    <button class="btn no">I don't know</button>
  </div>

</body>
</html>
